<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta
          http-equiv="Content-Security-Policy"
          content="default-src 'self'; script-src 'self'"
  />
  <meta
          http-equiv="X-Content-Security-Policy"
          content="default-src 'self'; script-src 'self'"
  />
  <title id="title-header">CPU and RAM</title>
  <link rel="stylesheet" href="../public/style.css" />
</head>
<body>
  <div class="cpu-ram-div">
    <img src="../public/cpu.png" alt="" class="cpu-img"> <p id="cpu">0</p> <p>%</p>
  </div>

  <div class="cpu-ram-div">
    <img src="../public/ram.png" alt="" class="cpu-img"> <p id="ram">0</p> <p>%</p>
  </div>
</body>

<script src="../renderer.js">

</script>
</html>